flows.json
[{"id":"de07b9cc.992968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"de07b9cc.992968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":120,"wires":[]},{"id":"262085c5.b623da","type":"ibmiot in","z":"de07b9cc.992968","authentication":"apiKey","apiKey":"9f4d2fbc.e1ec1","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":100,"wires":[["f2f2649a.0d0d98","b1f71543.864eb8","812e714d.ac875"]]},{"id":"b1f71543.864eb8","type":"function","z":"de07b9cc.992968","name":"humidity","func":"global.set('humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[["f2f2649a.0d0d98","17744158.45e0df"]]},{"id":"1af4a6bf.f92ba9","type":"ui_gauge","z":"de07b9cc.992968","name":"temperature","group":"d0c438fa.509028","order":0,"width":0,"height":0,"gtype":"donut","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":770,"y":40,"wires":[]},{"id":"17744158.45e0df","type":"ui_gauge","z":"de07b9cc.992968","name":"humidity","group":"1d98a14b.5124ef","order":0,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":180,"wires":[]},{"id":"4c8a0344.73596c","type":"http in","z":"de07b9cc.992968","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":320,"y":320,"wires":[["d142ed7c.e0421"]]},{"id":"d142ed7c.e0421","type":"function","z":"de07b9cc.992968","name":"web url","func":"msg.payload={\"Temperature\":global.get(\"temperature\"),\"Humidity\":global.get(\"humidity\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":320,"wires":[["cfc59b25.cbb6f8"]]},{"id":"cfc59b25.cbb6f8","type":"http response","z":"de07b9cc.992968","name":"","statusCode":"","headers":{},"x":710,"y":300,"wires":[]},{"id":"a9164a2e.241cb8","type":"ui_button","z":"de07b9cc.992968","name":"","group":"eb0fb07b.e1d4c","order":1,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":310,"y":380,"wires":[["11845c27.de7304","3642bacd.e37566"]]},{"id":"cfd3d492.a7e6f8","type":"ui_button","z":"de07b9cc.992968","name":"","group":"57724d46.a6f154","order":0,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":370,"y":460,"wires":[["11845c27.de7304","3642bacd.e37566"]]},{"id":"11845c27.de7304","type":"ibmiot out","z":"de07b9cc.992968","authentication":"apiKey","apiKey":"9f4d2fbc.e1ec1","outputType":"cmd","deviceId":"12345","deviceType":"raspberry","eventCommandType":"cropprotection","format":"json","data":"blink","qos":0,"name":"IBM IoT","service":"registered","x":650,"y":420,"wires":[]},{"id":"3642bacd.e37566","type":"debug","z":"de07b9cc.992968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":340,"wires":[]},{"id":"9b5c7fa3.f51a9","type":"http in","z":"de07b9cc.992968","name":"","url":"/cropprotection","method":"get","upload":false,"swaggerDoc":"","x":310,"y":220,"wires":[["7a65869b.4b39f8"]]},{"id":"1978fa7e.c14356","type":"http response","z":"de07b9cc.992968","name":"","statusCode":"","headers":{},"x":680,"y":220,"wires":[]},{"id":"7a65869b.4b39f8","type":"function","z":"de07b9cc.992968","name":"app","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":260,"wires":[["1978fa7e.c14356","11845c27.de7304","3642bacd.e37566"]]},{"id":"812e714d.ac875","type":"function","z":"de07b9cc.992968","name":"temperature","func":"global.set('temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":20,"wires":[["f2f2649a.0d0d98","1af4a6bf.f92ba9"]]},{"id":"9f4d2fbc.e1ec1","type":"ibmiot","z":"","name":"api key","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d0c438fa.509028","type":"ui_group","z":"","name":"temperature","tab":"216fc167.7a3ade","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d98a14b.5124ef","type":"ui_group","z":"","name":"humidity","tab":"216fc167.7a3ade","order":2,"disp":true,"width":"6","collapse":false},{"id":"eb0fb07b.e1d4c","type":"ui_group","z":"","name":"MOTOR ON","tab":"216fc167.7a3ade","order":3,"disp":true,"width":"6","collapse":false},{"id":"57724d46.a6f154","type":"ui_group","z":"","name":"MOTOR OFF","tab":"216fc167.7a3ade","order":4,"disp":true,"width":"6","collapse":false},{"id":"216fc167.7a3ade","type":"ui_tab","z":"","name":"intelligent crop protection","icon":"dashboard","disabled":false,"hidden":false}]